<html>
    <head>
        <title>Todo List</title>
        <script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
        <script src="/assets/todo-list.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form action="">
                <input type="text" name="item" placeholder="Add new item" required>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% todos.forEach(function(todo){ %>
                    <li><%= todo.item %></li>
                <% }); %> 
            </ul>
        </div>
    </body>
</html>