@use 'variables';
body {
    margin: 0;
    background-color: peachpuff;
    color: var(--text);
    font-size: 36px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-style: 1.5rem;
}