<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <%- include ('partials/nav.ejs') %> 
  <h1>Welcome to Our website</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur omnis quibusdam amet non quia temporibus magni voluptatum eligendi laborum quaerat voluptates eius, molestiae, officiis quis cumque dolore laudantium accusantium?</p>
</body>
</html>