p {
    width: 20%;
    margin: 20px;
    padding: 60px;
    border: 2px solid red;
}

a {
    width: 90px;
    height: 200px;
    margin: 60px;
    padding: 60px;
    border: 2px solid red;
    display: inline;
    /* line-height: 40px; */
    position: absolute;
}