h1 {
    color: red;
}

p, li {
    color: green;
}

li.special {
    color: royalblue;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

p span {
    color: red;
}

a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}